<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BEJproject.myERP.mapper.MainBoardMapper">

    <resultMap id="login" type="com.BEJproject.myERP.dto.MyERP_userDTO">
        <result column="user_id" property="userId"/>
        <result column="user_pw" property="userPw"/>
        <result column="user_name" property="userName"/>
        <result column="user_tel" property="userTel"/>
        <result column="user_no" property="userNo"/>
        <result column="user_flag" property="userFlag"/>
        <result column="user_regdate" property="userRegdate"/>
        <result column="user_modify_regdate" property="userModifyregdate"/>
    </resultMap>

    <resultMap id="main" type="com.BEJproject.myERP.dto.MyERP_mainboard">
        <result column="mainboard_bno" property="mainboardBno"/>
        <result column="mainboard_writer" property="mainboardWriter"/>
        <result column="mainboard_title" property="mainboardTitle"/>
        <result column="mainboard_content" property="mainboardContent"/>
        <result column="mainboard_viewcnt" property="mainboardViewcnt"/>
        <result column="mainboard_regdate" property="mainboardRegdate"/>
        <result column="mainboard_user_id" property="mainboardUserId"/>
        <result column="mainboard_modify_regdate" property="mainboardModifyregdate"/>
    </resultMap>

    <select id="getUser" resultMap="login">
        select * from myERP_user
        where user_id = #{userId}
    </select>

    <insert id="boardsave">
        insert into myERP_mainboard(mainboard_bno, mainboard_writer, mainboard_title, mainboard_content, mainboard_regdate, mainboard_user_id)
        values(mainboard_bno_seq.nextval, #{mainboardWriter}, #{mainboardTitle}, #{mainboardContent}, sysdate, #{mainboardUserId})
    </insert>

    <select id="boardlist" resultMap="main">
        select * from myERP_mainboard
        order by mainboard_bno desc
    </select>

    <select id="getboard" resultMap="main">
        select * from myERP_mainboard
        where mainboard_bno = #{mainboardBno}
    </select>

    <update id="updateViewcnt">
        update myERP_mainboard set mainboard_viewcnt = mainboard_viewcnt+1
        where mainboard_bno = #{mainboardBno}
    </update>

    <update id="boardmodify">
        update myERP_mainboard set mainboard_title = #{mainboardTitle}, mainboard_content = #{mainboardContent}
        where mainboard_bno = #{mainboardBno}
    </update>
</mapper>