<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BEJproject.myERP.mapper.MemberMapper">

    <resultMap id="login" type="com.BEJproject.myERP.dto.MyERP_userDTO">
        <result column="user_id" property="userId"/>
        <result column="user_pw" property="userPw"/>
        <result column="user_name" property="userName"/>
        <result column="user_tel" property="userTel"/>
        <result column="user_no" property="userNo"/>
        <result column="user_flag" property="userFlag"/>
        <result column="user_regdate" property="userRegdate"/>
        <result column="user_modify_regdate" property="userModifyregdate"/>
    </resultMap>

    <select id="idcheck" resultType="int">
        select count(user_id) from myERP_user
        where user_id = #{userId}
    </select>

    <insert id="singUp">
        insert into myERP_user(user_id, user_pw, user_name, user_tel, user_no, user_flag, user_regdate)
        values(#{userId}, #{userPw}, #{userName}, #{userTel}, user_no_seq.nextval, #{userFlag}, sysdate)
    </insert>
</mapper>